.git/
.metadata/
*.pyc
collectedstatic/
ges_ati_Copia.sqlite
dipendenti.json
ges_ati.sqlite
.idea
.settings/
.idea/
fixtures/
fixtures_boss/
.project
.project.sublime-workspace
.pydevproject
Django110/
Django14/
media/
.DS_Store
